<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.duatson.studentapp">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_ctsv_app_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_ctsv_app_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".services.ServiceHealthInsuranceDetailActivity"></activity>
        <activity android:name=".services.ServiceDormitoryDetailActivity" />
        <activity android:name=".services.ServiceHealthInsurance2Activity" />
        <activity android:name=".RequestDetail4Activity" />
        <activity android:name=".RequestDetail3Activity" />
        <activity android:name=".RequestDetail2Activity" />
        <activity android:name=".RequestDetail1Activity" />
        <activity android:name=".services.ScoreReportDetailActivity" />
        <activity android:name=".services.ServiceScoreReportActivity" />
        <activity
            android:name=".services.ServiceRegisterDormitoryActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".services.HospitalDetailActivity" />
        <activity android:name=".services.StudentCardDetailActivity" />
        <activity android:name=".services.LibraryCardDetailActivity" />
        <activity android:name=".services.ServiceConfirmStudentDetailActivity" />
        <activity android:name=".services.ServiceConfirmStudentSuccessActivity" />
        <activity android:name=".services.ServiceConfirmStudent2Activity" />
        <activity android:name=".services.ServiceHealthInsuranceCardActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".services.ServiceLibraryCardActivity" />
        <activity android:name=".services.ServiceStudentCardActivity" />
        <activity android:name=".services.ServiceConfirmStudentActivity" />
        <activity android:name=".Notification1DetailActivity" />
        <activity android:name=".RegisterSuccessActivity" />
        <activity android:name=".HelpContactActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".StudentInfoActivity" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".RequestDetailActivity" />
        <activity android:name=".ServiceDetailActivity" />
        <activity android:name=".RegisterServiceActivity" />
        <activity android:name=".ServiceListActivity" />
        <activity android:name=".fragment.DashboardFragment" />
        <activity android:name=".services.ServiceRegisterDormitory2Activity" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>